body{
    text-align: center;
    background-color: rgb(54, 54, 54);
}

h1, h3, h6{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#search-bar{
    border-color: white;
    border-radius: 15px;
    height: 40px;
    width: 640px;
}

#search-button{
    background-color: blue;
    border-color: blue;
    color: white;
    border-radius: 15px;
    height: 40px;
    width: 160px;
}

#yt{
    background-color: red;
    border-color: red;
    color: white;
    font-size: 40px;
    border-radius: 15px;
    height: 150px;
    width: 250px;
}

#ytside{
    background-color: red;
    border-color: red;
    color: white;
    font-size: 10px;
    border-radius: 15px;
    height: 20;
    width: 60px;
}

#github{
    background-color: black;
    border-color: black;
    color: white;
    font-size: 40px;
    border-radius: 15px;
    height: 150px;
    width: 250px;
    
}

#githubside{
    background-color: black;
    border-color: black;
    color: white;
    font-size: 10px;
    border-radius: 15px;
    height: 20px;
    width: 60px;
}

#chatgpt{
    background-color: rgb(23, 142, 101);
    border-color:rgb(23, 142, 101);
    color: white;
    font-size: 40px;
    border-radius: 15px;
    height: 150px;
    width: 250px;
}

#chatgptside{
    background-color: rgb(23, 142, 101);
    border-color:rgb(23, 142, 101);
    color: white;
    font-size: 10px;
    border-radius: 15px;
    height: 20px;
    width: 60px;
}

#discordside{
    background-color: rgb(64, 69, 224);
    border-color:rgb(64, 69, 224);
    color: white;
    font-size: 10px;
    border-radius: 15px;
    height: 20px;
    width: 60px;
}

#traductorside{
    background-color: white;
    border-color:white;
    color: black;
    font-size: 10px;
    border-radius: 15px;
    height: 20px;
    width: 60px;
}

#byjusside{
    background-color: purple;
    border-color: purple;
    color: white;
    font-size: 10px;
    border-radius: 15px;
    height: 20px;
    width: 60px;
}

#twitterside{
    background-color: rgb(0,172,238);
    border-color: rgb(0,172,238);
    color: white;
    font-size: 10px;
    border-radius: 15px;
    height: 20px;
    width: 60px;
}

#alemanside{
    background-color: blue;
    border-color: blue;
    color: white;
    font-size: 10px;
    border-radius: 15px;
    height: 20px;
    width: 60px;
}

#addstuffside{
    background-color: white;
    border-color: white;
    color: black;
    font-size: 10px;
    border-radius: 15px;
    height: 20px;
    width: 60px;
}

.custombuttonside{
    background-color: gray;
    border-color: gray;
    color: white;
    font-size: 10px;
    border-radius: 15px;
    height: 20px;
    width: 60px;
}  

.custombutton{
    background-color: gray;
    border-color: gray;
    color: white;
    font-size: 40px;
    border-radius: 15px;
    height: 150px;
    width: 250px;
}

#menutest{
    background-color: rgb(64, 64, 64);
    position: absolute;
    min-height: 90%;
    padding:10px 0 0 0;
    margin:0 auto;
    float:left;
    width:100px;
}

ul{
   margin:0 auto;
   padding:0;
   overflow:hidden;
    text-align:center;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: transparent;
    text-decoration: none;
}

#bottom{
    position: absolute;
    float: right;
    text-align: left;
    width: 1230px;
    background-color: rgb(64, 64, 64);
}